nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100vw;
  z-index: 1;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
}

nav span {
  font-family: "Bungee", cursive;
  position: relative;
  top: 10px;
}

.write-tweet {
  float: right;
  border: none;
  background-color: inherit;
  color: white;
  cursor: pointer;
}

.write-tweet:hover > .arrow-down {
  height: 30px;
  width: 30px;
}

.arrow-down {
  height: 20px;
  width: 20px;
  fill: red;
  margin-top: 8px;
  animation-name: arrow-down;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes arrow-down {
  to {
    margin-top: 15px;
  }
}
