.tweet {
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 10px;
  width: 100%;
  background-color: inherit;
  border: var(--colour2) 4px solid;
  height: 210px;
  word-wrap: break-word;
}

.tweet:hover {
  box-shadow: 7px 7px 0px 2px var(--colour1);
}

.tweet:hover > header > .account {
  display: block;
  float: right;
  padding: 10px;
  margin-top: -35px;
  color: var(--colour1);
}

.tweet:hover > footer > .interactions > .buttons > .icons {
  height: 17px;
}

.tweet-date {
  border-top: var(--colour2) 4px solid;
  font-size: 15px;
  margin-top: -10px;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.buttons {
  float: right;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.interactions {
  display: flex;
  float: right;
}

.icons {
  fill: var(--colour3);
  height: 15px;
  display: block;
  margin-top: -40px;
  border: none;
}

.tweet-content {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 20px;
}

.tweet img {
  height: 50px;
  width: 50px;
}

.account {
  display: none;
}

.full-name {
  margin-top: -50px;
  margin-left: 70px;
}

article.tweet header {
  height: 100px;
  width: 100%;
}

.single-tweet {
  position: relative;
  top: 100px;
}

#tweets-container {
  align-content: center;
  justify-content: center;
}
